<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/weui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-weui.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% csrf_token %}
    <div id="test"></div>
<div class="weui-tabbar wy-foot-menu">
  <div class="weui-tabbar__item  npd">
    <p class="cart-total-txt meui-padding-top1">合计：<i>￥</i><em class="num font-16" id="zong1">{{price|safe}}</em></p>
    <p class="cart-total-txt">不含运费</p>
  </div>
  <a class="red-color npd w-90 t-c">
    <p class="promotion-foot-menu-label" onclick="saveitem()">确定</p>
  </a>
</div>
</body>
<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script>
html1='{{com|safe}}';
id1="#test";
$(id1).html(html1);

layui.use('form', function(){
  var form = layui.form;

  //监听提交
});

function add(m){
  var n=document.getElementById(m).value;
  $("#"+m).attr("value",Number(n)+1);
};
function del(m){
var s=document.getElementById(m).value;
if(s!=1)
{
$("#"+m).attr("value",Number(s)-1);
}
else{
  alert('不能小于1件，如果想移除购物车，请点击右侧删除按钮');
}
};

function test(m){
q=document.getElementById('order'+String(m));
p=q.getAttribute('data-value');
if(p=='0')
{
 q.setAttribute('data-value','1');
}
else{
q.setAttribute('data-value','0');
}
}


function del_item(m){
    xmlhttp=new XMLHttpRequest();
    var getnum= document.getElementsByTagName("blockquote");
    xmlhttp.open("GET","/test?keyword=delete&id="+getnum[m-1].id);
    xmlhttp.send();
    location.reload();
};


function saveitem()
{
  var cart=[];
  var cart1={};
  var getnum= document.getElementsByTagName("input");
  m=0
  console.log(getnum.length);
  for(i=0;i<getnum.length-1;i++)
  {
 q=document.getElementById('order'+String(i+1));
  p=q.getAttribute('data-value');
  console.log(p); //24
  if(p=='1')
  {
  var m=document.getElementById('order'+String(i+1))
  n=m.getAttribute('data-id')
  cart1='{"id":"'+n+'"}';
  cart.splice(1,0,cart1);
  $.post({url:"/confirm/", data:{cart,"csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val()}});
  m=1
  }
  }
  if(m>0){
  alert('保存成功！');
  location.replace('/test/');
  }
};
</script>

</html>