<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子商务系统-注册</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="{% static 'layui/layui.js' %}"></script>
</head>
<body bgcolor="#f2f2f2">
<div class="layui-container" >
    <div class="layui-row">
        <p class="layui-icon layui-icon-user"  align="center" style="font-size: 50px; color: #009966;"></p>
    </div>
    <div class="layui-row">
       <div class="site-title">
      <fieldset class="layui-elem-field layui-field-title" align="center" ><legend><a name="fieldset">供应商信息完善</a></legend></fieldset>
    </div>
    </div>
<div class="site-text site-block">
 <form action="/register/" method="post" enctype="multipart/form-data">
     {% csrf_token %}
  <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-username"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
      <input type="text" name="register_username" required  lay-verify="required" placeholder="请输入公司名称" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-password"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
      <input type="password" name="register_password" required lay-verify="required" placeholder="请修改密码" autocomplete="off" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-ok-circle"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
      <input type="password" name="confirm_password" required lay-verify="required" placeholder="请确认修改密码" autocomplete="off" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-release"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
      <input type="email" name="register_email" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-cellphone"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
      <input type="text" name="register_people" required lay-verify="required" placeholder="请输入联系人" autocomplete="off" class="layui-input">
    </div>
  </div>
      <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-cellphone"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
      <input type="text" name="register_phone" required lay-verify="required" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
    </div>
  </div>
      <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-cellphone"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
      <input type="text" name="register_id" required lay-verify="required" placeholder="请输入营业执照号" autocomplete="off" class="layui-input">
    </div>
  </div>
     <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-cellphone"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
        请上传企业logo：   <input type="file" name="register_logo" ></div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-cellphone"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
        请上传营业执照图片：   <input type="file" name="upload" ></div>
    </div>


    <div class="layui-form-item">
    <label class="layui-form-label"><p class="layui-icon layui-icon-cellphone"   style="font-size: 30px; color: #009966;"></p></label>
    <div class="layui-input-block">
        <textarea type="text" name="register_detail" required lay-verify="required" placeholder="请输入公司详情" autocomplete="off" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item" >
    <div class="layui-input-block" align="center">
      <input class="layui-btn" lay-submit lay-filter="formDemo" type="submit" value="立即提交">
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
</div>
</div>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="../static/layui/layui.js"></script>
<script>
//Demo
layui.use(['form'],function(){
var form=layui.form,
layer=layui.layer;

$.ajax({
    url:'/userinfotable/',
    dataType:'json',
    type:'post',
    success:function(data){

        $.each(data,function(index,item){
            $('#address_sheng').append(new Option('5555','6666'));//往下拉菜单里添加元素
        })

        form.render();//菜单渲染 把内容加载进去
    }
})

 })
</script>
</body>
</html>