<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>layui在线调试</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
<body>
<form class="layui-form" lay-filter="form">
  <div class="layui-form-item">
    <label class="layui-form-label">下拉框</label>
    <div class="layui-input-inline">
      <select name="number" lay-filter="number">
        <option value="">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

  </div>

</form>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
layui.use(['form'],function(){
var form=layui.form;


form.val('form',{"number":"3"})
form.on('select(number)',function(data){
  console.log(data);
})
})
</script>
</body>
</html>
