<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>layui在线调试</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
<body>
<div style="padding: 20px; background-color: #F2F2F2;" >
  <div class="layui-row layui-col-space15" id="LAY_demo1">
  </div>
</div>
</form>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
layui.use(['form','element','flow'],function(){
var form=layui.form,
element=layui.element,
flow=layui.flow;
flow.load({
    elem: '#LAY_demo1' //流加载容器
    ,scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
    ,done: function(page, next){ //执行下一页的回调

      //模拟数据插入
      var db={{rlt|safe}};
      var db2={{bookde|safe}};
var imgsrc="{% static 'img/test.jpg' %}";
      setTimeout(function(){
        var lis = [];
        for(var i = 0; i < 9; i++){
        if(i>20){break;}
          lis.push('<div class="layui-col-md4">\
      <div class="layui-card">\
        <div class="layui-card-header">\
          '+ db[(page-1)*9 + i] +'....\
        </div>\
        <div class="layui-card-body">\
          <img src='+imgsrc+' height=100 weight=100></img>  <font color=＂#FF5722＂>￥100.00</font><br><div>'+db2[(page-1)*9 + i]+'</div>\
        </div>\
      </div>\
    </div>')
        }
        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
        next(lis.join(''), page < 10); //假设总页数为 10
      }, 500);
    }
  });
element.tabAdd('demo', {
  title: '选项卡的标题'
  ,content: '选项卡的内容' //支持传入html
  ,id: '选项卡标题的lay-id属性值'
});

})
</script>
</body>
</html>
