<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>layui在线调试</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
<link rel="stylesheet" href="{% static 'layui/css/bang_list.css' %}" media="all">
<body>
<div class="layui-carousel" id="banner" align="center">
  <div carousel-item align="center">
    <div><img src="upload/bannerpic/1.jpg" height="300"></div>
    <div><img src="upload/bannerpic/3.jpg" height="300"></div>
  </div>
</div>
<fieldset class="layui-elem-field">
  <legend>按商家搜索</legend>
  <div class="layui-field-box">
    <div class="layui-row layui-col-space10 demo-list">
  <div class="layui-col-sm4 layui-col-md3 layui-col-lg2" >
    <img src="upload/memberlogo/jiansheyinhang.png" height="100" width="200" style="border:1px solid black" >
  </div>
  <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
    <img src="upload/memberlogo/tengxun.png" height="100" width="200" style="border:1px solid black">
  </div>
</div>
  </div>
</fieldset>
<div class="layadmin-tabsbody-item layui-show"><div class="layui-card layadmin-header">

</div><style>
/* 这段样式只是用于演示 */
#LAY-component-grid-list .demo-list .layui-card{height: 267px;}
</style>
    <div class="layui-fluid" id="LAY-component-grid-list" >
  <div class="layui-row layui-col-space10 demo-list" style="background:#f2f2f2; color:#000" id="test2">


  </div>
</div>
    </div>
    <script>
layui.use(['admin'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,table = layui.table
  ,element = layui.element;

});
</script></div>
<div style="padding: 20px; background-color: #F2F2F2;" >
  <div class="bang_list clearfix bang_list_mode">
      <div class="bang_list_box">
    <script type="text/javascript">
$(function(){

//$(".mode_btn").on('click', '.mode_btn_left', function(){
$(".mode_btn span .mode_btn_left").live('click',  function(e){
    var style = $(this).attr('style_css');
//    var style = 2;
    var url = window.location.href;
    var hypen_pos = url.lastIndexOf('-');
//    alert(hypen_pos);
    if(hypen_pos>0){
        var new_url_head = url.substring(0, parseInt(hypen_pos)-1);
//        alert(new_url_head);
        var new_url_tail = url.substring(hypen_pos);
//        alert(new_url_tail);
        var new_url = new_url_head+style+new_url_tail;
//        alert(new_url);
    }else{
        var new_url = url.replace(/(\/$)/g,"")+'/'+style+'-1';
//        alert(new_url);
    }
    window.location.href = new_url;
    e.preventDefault();
});

$(".mode_btn span .mode_btn_right").live('click', function(e){
    var style = $(this).attr('style_css');
//    alert(style);
//    var style = 2;
    var url = window.location.href;
    var hypen_pos = url.lastIndexOf('-');
//    alert(hypen_pos);
    if(hypen_pos>0){
        var new_url_head = url.substring(0, parseInt(hypen_pos)-1);
//        alert(new_url_head);
        var new_url_tail = url.substring(hypen_pos);
//        alert(new_url_tail);
        var new_url = new_url_head+style+new_url_tail;
//        alert(new_url);
    }else{
        var new_url = url.replace(/(\/$)/g,"")+'/'+style+'-1';
//        alert(new_url);
    }
    window.location.href = new_url;
    e.preventDefault();
});

})
</script>
      </div>
  </div>
</div>
</body>
<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script>
html1='{{html1|safe}}';
id1="#test2";
$(id1).html(html1);

layui.use(['form','element','flow','carousel'],function(){
var form=layui.form,
element=layui.element,
carousel = layui.carousel,
flow=layui.flow;

carousel.render({
    elem: '#banner'
    ,height:'300'
    ,width: '100%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
});
//加入购物车
var db3={{id|safe}};
function addcart(m){
xmlhttp=new XMLHttpRequest();
    xmlhttp.open("GET","/shoplist?keyword=addcart&value="+db3[m-1]);
    xmlhttp.send();
}
</script>
</body>
</html>
