<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <title>upload模块快速使用</title>
  <link rel="stylesheet" href="{% static 'build/layui.css' %}" media="all">
</head>
<body>

<button type="file" class="layui-btn" id="test1">
  <i class="layui-icon">&#xe67c;</i>上传图片
</button>

 <form action="/test" method="post" enctype="multipart/form-data">
   {% csrf_token %}
        <input type="file" name="fafafa">
        <input type="submit">
   <div class="layui-form-item">
    <label class="layui-form-label">上传图片</label>
    <div class="layui-input-inline">
      <div class="layui-upload">
        <input type="file" name="upload" >上传图片
  </div>
</div>
    </div>
    </form>
<img src="upload/pic/5b0460508bdb72d206d0b3b84745dce4.png" height="100",weight="100">
<script src="{% static 'layui/layui.js' %}"></script>
<script>
</script>
</body>
</html>