<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>tony电商管理平台</title>
    {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
   <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script type="text/javascript" src="https://adservice.google.com/adsid/integrator.js?domain=www.layui.com"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">阳光数采电商采购平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a id="index" href="/shoplist" target="infotable">首页</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{rlt}}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a id="quit" href="" onclick="quit()">退了</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">供应商管理</a>
          <dl class="layui-nav-child">
            <dd><a id="userinfo" href="/userinfo/" target="infotable">供应商信息</a></dd>
            <dd><a id="adduser" href="/register/" target="infotable">添加供应商</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">采购管理</a>
          <dl class="layui-nav-child">
            <dd><a id="managerinfo" href="/userinfo" target="infotable">人员管理</a></dd>
            <dd><a id="cart" href="/test" target="infotable">购物车</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;">商品管理</a>
         <dl class="layui-nav-child">
            <dd><a id="shopinfo" href="/shopinfo" target="infotable">商品管理</a></dd>
            <dd><a id="itemadd" href="/itemadd" target="infotable">商品上架</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <div class="site-title">
      <fieldset class="layui-elem-field layui-field-title" ><legend><a name="fieldset">电商管理系统</a></legend></fieldset>
    </div>
    <div>
        <iframe name="infotable" frameborder="0" id="mainiframe" width="100%" height="600" src="/shoplist"></iframe>
    </div>


    <!-- 内容主体区域 -->
  </div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © byscience.net - tony的工作室
  </div>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="../static/layui/layui.js"></script>
<script>
function changeFrameHeight(){
        var ifm= document.getElementById("mainiframe");
        ifm.height=document.documentElement.clientHeight-56;
    }
    window.onresize=function(){ changeFrameHeight();}
    $(function(){changeFrameHeight();});
//JavaScript代码区域
layui.use(['element','form'], function(){
  var element = layui.element;
  var form=layui.form;

});
layui.use('table', function(){
  var table = layui.table;

  });

$(document).ready(function(){
  $("dd a#userinfo").click(function(){
    $("fieldset legend:first a:first").text("用户信息");
  });
    $("li a#index").click(function(){
    $("fieldset legend:first a:first").text("电商管理平台");
  });
   $("dd a#shopinfo").click(function(){
    $("fieldset legend:first a:first").text("商品信息");
  });
});
function quit(){
xmlhttp=new XMLHttpRequest();
    xmlhttp.open("GET","/index/?keyword=quit");
    xmlhttp.send();
}

</script>
</body>
</html>
